<div class="col-12"><h2 class="text-center mb-5">Популярные блюда</h2></div>

{% for i_bluda in bluda_iz_topa %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">



        <div class="card">
{#            <img class="card-img-top" src="{{ i_bluda.prevyu.url }}">#}
            <div class="card-body">
                <h5 class="card-title">{{ i_bluda.nazvanie }}</h5>
                <p class="card-text">{{ i_bluda.cena }}</p>
                <a href="#" class="btn btn-outline-success">В корзину</a>
            </div>
        </div>

    </div>
{% endfor %}
